<!DOCTYPE html>
<html>
	<head>
		<title>Twitch Plays ScribblerBot</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="style.css" />
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body>
		<div id="main">
			<div id="header">
				<h1>Twitch Plays ScribblerBot</h1>
			</div>

			<iframe id="video" width="560" height="315" src="http://www.youtube.com/embed/tPEE9ZwTmy0?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="sidebar">
			<div id="log">
				<div class="message">
					<div class="user">Dave</div>
					<div class="text">Testing testing testing</div>
				</div>
				<div class="message">
					<div class="user">Steven</div>
					<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus convallis placerat. Curabitur pellentesque mauris et vestibulum finibus. Nunc consectetur ante nunc, ut efficitur quam eleifend sit amet. Nulla vel nisl sapien. Cras efficitur leo ante, eu ultricies leo cursus id. Donec vitae elit dui</div>
				</div>
			</div>

			<div id="chat">
				<input id="username" type="text" placeholder="username" />
				<textarea id="message" placeholder="Type chat message here"></textarea>
				<input id="send" type="button" value="Send" />
			</div>
		</div>
	</body>
</html>