html, body {
	height:100%;
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

#main {
	margin-right:380px;
	height:100%;
	position:relative;
}

#video {
	width: 800px;
	height: 500px;
	position:absolute;
  left:50%;
  top:50%;
  margin-left:-400px;
  margin-top:-200px;
	display:block;
}

#sidebar {
	position:fixed;
	width:380px;
	top:0;
	right:0;
	bottom:0;
	background-color:#DDD;
}

#log {
	position:absolute;
	top:20px;
	left:20px;
	right:20px;
	bottom:200px;
	background-color:#FFF;
	overflow-y:scroll;
  overflow-x:hidden;
}

#chat {
	position:absolute;
	bottom:20px;
	right:20px;
	left:20px;
	height: 160px;
}

#message {
	display:block;
	box-sizing: border-box;
	width:100%;
	height: 50px;
	margin-top:20px;
	padding:5px;
}

#username {
	display:block;
	box-sizing: border-box;
	height:30px;
	padding:5px;
	width:100%;
}

#send {
	display:block;
	box-sizing: border-box;
	margin-top:20px;
	height:40px;
	width:100%;
	border:0;
	color:#FFF;
	background-color:#4a148c;
	transition: all linear 0.2s;
}

#send:hover {
	background-color:#b0120a;
}

#header {
	height: 100px;
	background-color:#4a148c;
}
h1 {
	margin:0;
	padding:20px;
	color:#FFF;
	line-height:60px;
	font-weight:lighter;
}

textarea, input {
   font-family: inherit;
   font-size: inherit;
}

.message {
	padding:20px;
-webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
-webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
-webkit-animation-fill-mode: both;
      animation-fill-mode: both
}

.user {
	font-weight:bold;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
          animation-name: flipInX;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}